#search-form input {behavior: url(js/PIE.htc); position:relative;}
#search-form a {behavior: url(js/PIE.htc); position:relative;}
strong.circle {behavior: url(js/PIE.htc); position:relative;}
.button {behavior: url(js/PIE.htc); position:relative;}